<side style="font-size: 0.9em">
  <h3 style="margin-bottom: 1em">Notes mentioning this note</h3>
  {% if page.backlinks.size > 0 %}
  <div class="backlink-box">
    {% for backlink in page.backlinks %}
    <div class="mbs">
      <a class="no-icon" href="{{ site.baseurl }}{{ backlink.url }}{%- if site.use_html_extension -%}.html{%- endif -%}">{{ backlink.title }}</a><br>
<!--      <div style="font-size: 0.9em">{{ backlink.excerpt | strip_html | truncatewords: 10 }}</div>-->
    </div>
    {% endfor %}
  </div>
  {% else %}

  <div style="font-size: 0.9em" class="backlink-box">
      There are no notes linking to this note.
  </div>
  {% endif %}
</side>