<div>
  Anne LoVerso © 2021 • <a class="no-icon" href="/about">About</a> •
  <a href="https://twitter.com/AnneLoVerso" class="no-style">
    <i class="fab fa-twitter" title="twitter"></i>
  </a>
  <a href="https://github.com/aloverso" class="no-style">
    <i class="fab fa-github" title="github"></i>
  </a>
  <a href="http://www.linkedin.com/in/anneloverso" class="no-style">
    <i class="fab fa-linkedin-in" title="linkedin"></i>
  </a>
  <a href="https://medium.com/@AnneLoVerso" class="no-style">
    <i class="fab fa-medium-m" title="medium"></i>
  </a>
</div>
