<div class="fdr">
    <a class="no-icon" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
    <div id="menuToggle" class="mla">
        <input type="checkbox"/>

        <!-- hamburger spans -->
        <span></span>
        <span></span>
        <span></span>

        <ul id="menu">
            <li>
                <a class="no-icon" href="{{ site.baseurl }}/"><b>{{ site.title }}</b></a>
            </li>
            <li>
                <a class="no-icon" href="/about"><b>About</b></a>
            </li>
            <li>
                <a class="no-icon" href="/library"><b>Library</b></a>
            </li>
            <li>
                <a class="no-icon" href="/notes"><b>All notes</b></a>
            </li>
        </ul>
    </div>
    <div class="not-menu-toggle fdr mla">
        <a class="no-icon mla" href="/about"><b>About</b></a>
        <a class="no-icon mld" href="/library"><b>Library</b></a>
        <a class="no-icon mld" href="/notes"><b>All notes</b></a>
    </div>
</div>