/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.
 */

.not-menu-toggle {
  display: none;

  @media (min-width: $xxs) {
    display: block;
  }
}

#menuToggle
{
  display: block;
  z-index: 1;

  -webkit-user-select: none;
  user-select: none;

  @media (min-width: $xxs) {
    display: none;
  }
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 42px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
  opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  padding-inline-start: 0;
  margin-block-start: 0;

  position: absolute;
  width: 100vw;
  height: 220px;
  padding: 2rem 0 0 2rem;
  top: 0;
  left: 0;

  background: #f5f7ff;
  border-radius: 4px;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  transform-origin: 0 0;
  transform: translate(0, calc(-220px - 2rem));
  box-shadow: none;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), box-shadow 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

  @media (min-width: $xxs) {
    display: none;
  }
}

#menu li
{
  padding: 10px 0;
  list-style-type:none;
}

#menuToggle input:checked ~ ul
{
  transform: none;
  box-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.02),
          0 6.7px 5.3px rgba(0, 0, 0, 0.028),
          0 12.5px 10px rgba(0, 0, 0, 0.035),
          0 22.3px 17.9px rgba(0, 0, 0, 0.042),
          0 41.8px 33.4px rgba(0, 0, 0, 0.05),
          0 100px 80px rgba(0, 0, 0, 0.07);
}