@font-face {
  font-family: 'BeyondTheMounatins';
  src: url('../assets/beyond_the_mountains-webfont.woff');
}

@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');
/*
img.bg {
  min-height: 100%;

  width: 100%;
  height: auto;
} */

.header-img {
  height: 100%;
  object-fit: cover;
  object-position: -40px 0%;
}

.header-role {
  position: absolute;
  margin-top: 15vh;
  margin-left: 10px;
  min-width: inherit;
  width: 20%;
  padding-left: 10px;
  z-index: 2;
}

.opacity-full {
  opacity: 1;
}

.opacity-light {
  opacity: 0.35;
}

.front {
  z-index: 4;
}

/* images */

.thumbnail {
  width: 100%;
}

/* flexbox */

.flex-child {
  /* background-color: tomato; */
  width: 25%;
  height: 80vh;
  overflow: hidden;
}

.flex-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

/* icons */
a {
color: #222;
}

a:hover {
color: #777;
}


/* Typography */

.text-white {
  background-color: rgba(20,20,20,.6);
  color: #fff;
}

.text-charcoal {
  color: #222;
  background-color: none;
}

.text-m {
  font-size: 2rem;
  line-height: normal;
}

.text-l {
  font-size: 4rem;
  line-height: normal;
}

.text-thin {
  font-weight: 200;
}

.font-btm {
  font-family: BeyondTheMounatins;
}

.font-raleway {
  font-family: 'Raleway', serif;
}

h1 {
  font-weight: normal;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.bold-focus:hover {
  font-weight: bold;
}

.bold-focus:focus {
  outline: none;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
