<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div class="wrapper">
      <main>{{ content }}</main>
    </div>

    {% include link-previews.html wrapperQuerySelector="content" %}
    <footer>{% include footer.html %}</footer>

    <!-- Default Statcounter code for Anneloverso.com http://anneloverso.com/ -->
    <script type="text/javascript">
      var sc_project = 10345071;
      var sc_invisible = 1;
      var sc_security = "5f412348";
    </script>
    <script type="text/javascript"
            src="https://www.statcounter.com/counter/counter.js"
            async
    ></script>
    <!-- End of Statcounter Code -->
  </body>
</html>