---
layout: default
---

<article>
  <div>
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">{% if page.type != 'pages' %}
      Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
  </div>

  <div>
    <section>
      {{ content }}
    </section>

  </div>
</article>

<div class="bottom">

{% include backlink-box.html %}
<hr>

</div>


<style>
    .bottom {
        margin-top: 5rem;
        max-width: 46em;
    }

    .wrapper {
        max-width: 52em;
    }
</style>
