---
layout: default
---

<article>
  <div class="mbm">
    <h1>{{ page.title }}</h1>
    <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
      {% if page.published %}
        Originally published: {{ page.published }} •
      {% endif %}
      {% if page.type != 'pages' %}
        Last updated on {{ page.last_modified_at | date: "%B %-d, %Y" }}
      {% endif %}
    </time>
    <div>
      {% assign tagnum = page.tags | size %}
      {% if tagnum == 0 %}
        <span class="tag mrxs mbxs">
          <a class="no-style" href="/notes#seedling">
            <span class="mrs">
                {{ site.data.icons.default }}
            </span>
            <span>
                seedling
            </span>
          </a>
        </span>
      {% endif %}
      {% for tag in page.tags %}
        {% if site.data.icons[tag] %}
          <span class="tag mrxs mbxs">
            <a class="no-style" href="{{ '/notes#' | append: tag }}">
              <span class="mrs">
                  {{ site.data.icons[tag] }}
              </span>
              <span>
                  {{ tag }}
              </span>
            </a>
          </span>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div id="notes-entry-container">
    <section>
      {{ content }}
    </section>

    {% include backlink-box.html %}
  </div>
</article>

<!--<hr>-->

<!--<p>Here are all the notes in this garden, along with their links, visualized as a graph.</p>-->

<!--{% include notes_graph.html %}-->